html {
    font-family: 'Roboto', sans-serif;
}

h2 {
  
        font-family: 'Abril Fatface', cursive;
        
}


/* .linear-gradient {
    background: linear-gradient(135.56deg, rgba(73, 255, 222, 0.5) 51.97%, rgba(255, 230, 0, 0.5) 85.92%);
    
}

.blur {
    background: linear-gradient(135.56deg, rgba(73, 255, 222, 0.5) 51.97%, rgba(255, 230, 0, 0.5) 85.92%);
    filter: blur(20px);
    
    -webkit-filter: blur(70px);
} */

#secondary-slider .is-visible.is-active {
    border: 2px solid  #55288F !important ;
     

}


.gradient {
   
    background: conic-gradient(from .5turn at bottom center, lightblue, white);
}